
.course{
    .course-section{
        .buttonbox{
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            >.addquestionicon {
                color: white;
                background-color: black;
                border-radius: 1rem;
                padding: 0.5rem;
                margin: 2rem;
                margin-right: 5rem;
                >svg {
                    font-weight: 800;
                }
            }
        }   
    }
}


