
.grid {
    display: flex;
    flex-direction: column;

    >.tool {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        div {
            text-align: center;

            label {
                font-weight: 600;
                padding: 1rem;
            }

            select {
                cursor: pointer;
                border: 3px solid black;
            }

            Button {
                background-color: black;
                font-size: 0.7rem;

                svg {
                    color: white;
                }
            }

            input {
                cursor: pointer;

                >ul {
                    display: flex;
                    gap: 2rem;
                    justify-content: center;
                    list-style: none;
                    margin: 5rem 0rem;
                    padding-top: 2.5rem;

                    >li {
                        >a {
                            text-decoration: none;
                            background-color: rgb(46, 45, 45);
                            padding: 1rem;
                            color: white;
                            transition: all 0.5s linear;
                            font-weight: 600;
                            font-size: 1.2rem;

                            &:hover {
                                background-color: #551A8B;
                            }
                        }
                    }
                }
            }
        }


    }
}

.result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 50rem;
}

.vid {
    display: block;
    width: 50rem;
}

.hr {
    height: 1px;
    width: 100%;
    margin: 1rem 30rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.red {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10%;
}

.green {
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10%;
}

.htContainer p {
    margin: 0.5rem 0rem;
}

.htContainer .feedback {
    padding: 0.1rem 0.5rem;
    border: 1px dashed silver;
}
