.tacordianbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 50rem;
    .main-heading{
        display: flex;
        justify-content: space-between;
        padding: 0 2.5rem;
        border-bottom: 1px solid #eaeaea;
        cursor: pointer;
        background-color: white;
        text-align: center;
        h3{
            font-size: 1rem;
            font-weight:500;
        }

    }
    .textTool{
        border-top: 2px solid black;
        background-color: white;
        padding: 1rem;
        .Tool{
            margin:0.5rem 1rem;
            padding: 0.5rem;
            font-weight: 600;
        }

        .select-option{
            .submitbtn{
                margin: 0.5rem;
                padding: 0.5rem;
                font-weight: 600;
            }
        }
    }

}
.backArrow {
    margin: 8rem;
}
