
.full{
    background-color: #f4f8ff;
    padding: 1rem;
    height: 100vh;

    .main-div {
      
        display: flex;
        align-items: center;
        flex-direction: column;
            background-color: #f4f8ff;
        .back {
            padding-top: 1rem;
            position: absolute;
            top: 7rem;
            left: 3rem;
            a {
                svg {
                    font-size: 2.5rem;
                    color: #5b58ff;
                }
            }
            
        }
    
        .buttonbox {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
    
            >.addquestionicon {
                color: white;
                background-color: #5b58ff;
                border-radius: 1rem;
                padding: 0.5rem;
                margin: 2rem;
                margin-right: 5rem;
    
                >svg {
                    font-weight: 800;
                }
            }
        }
    }

    
.modal {
    .modal-box {
        background-color: white;
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 400;
        border-radius: 1rem;
        display: flex;
        padding: 2rem;
        gap: 6rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        >form {
            >div {
                margin-bottom: 1rem;
            }

        }

        .closequestionicon {
            color: black;
        }
    }
}
    

}


