.navbarmenu{
    display: flex;

    .logo {
        margin-left: 1rem;
        margin: auto 0;
        margin-left: 2rem;
        img{
            width: 70%;
        }
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.8rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
       
        >.teachernavbar{
            list-style: none;
            display: flex;
            gap: 3rem;
            >li{
               
                >a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 800;
                    padding: 1rem 1rem;
                    color: #A4AE9D;
                    transition: all 0.5s;
                 
                    &:hover {
                       color: #5b58ff;
                      
                    }
                }
            }
        }
    }
}
