.info{
    .stack{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        .button{
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}